# Mac-OS
.DS_Store

# Activity Data
sync.log
some.log

# Virtual environement
.venv

# -------------------------------------------------------------

# in case of accidental saving of such files in the repo
*.mp4
*.part

# safety net in case sensitive data is accidentally moved
credentials.*
pw.*
*.key
